body {
    font-family: Arial, sans-serif;
    background-color: #060b1f;
    ;
    margin: 0;
    padding: 0;
}
.navlinks {
    color: white;
}

.navlinks > a {
    color: white;
    text-decoration: none;
    margin: 16px;}

.navigation {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.header {
    color: white;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.service {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service h2 {
    margin-top: 0;
    color: #333;
}

.service p {
    color: #666;
}

.service img {
    max-width: 100%;
    height: auto;
}